[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sudo minstall
Icon=msystem
Name=Installer
Name[am]=መግጠሚያ
Name[ar]=تنصيب
Name[bg]=Инсталирай
Name[ca]=Instal·lador
Name[cs]=Instalovat
Name[da]=Installér
Name[de]=Installation
Name[el]=Εγκατάσταση
Name[es]=Instalar
Name[et]=Paigalda
Name[eu]=Instalatu
Name[fa]=نصب
Name[fi]=Asenna
Name[fr]=Installer
Name[hr]=Instalacija
Name[hu]=Telepítő
Name[is]=Setja upp
Name[it]=Installa
Name[ja]=インストール
Name[ko]=설치
Name[lt]=Diegimo programa
Name[mk]=Инсталирај
Name[nb]=Installer
Name[nl]=Installeerder
Name[pl]=Instaluj
Name[pt]=Instalador
Name[pt_BR]=Instalar
Name[ro]=Instalează
Name[ru]=Установщик
Name[sk]=Inštalovať
Name[sl]=Namesti
Name[sq]=Instalo
Name[sr]=Инсталација
Name[sv]=Installera
Name[tr]=Yükleyici
Name[uk]=Встановити
Name[zh_CN]=安装
Name[zh_TW]=安装
Comment=Install antiX Linux
Comment[am]=የ antiX ሊነክስ መግጠሚያ
Comment[ca]=Instal·la antiX Linux 
Comment[cs]=Nainstalovat antiX LInux
Comment[de]=antiX Linux installieren
Comment[el]=Εγκατάσταση του antiX Linux
Comment[es]=Instalar antiX Linux
Comment[fr]=Installer antiX Linux
Comment[hu]=antiX Linux telepítése
Comment[it]=Installa antiX Linux
Comment[ja]=antiX Linux のインストール
Comment[lt]=Įdiegti antiX Linux
Comment[nl]=Installeer antiX Linux
Comment[pt]=Instala o antiX no disco rígido
Comment[ru]=Установка antiX Linux
Comment[sk]=Nainštalovať antiX Linux
Comment[sv]=Installera antiX Linux
Terminal=false
NoDisplay=true
